<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.cubictest.exporters.selenium.ui.launchConfigurationType">
<stringAttribute key="CubicTestSeleniumBrowser" value="*iexplore"/>
<booleanAttribute key="CubicTestSeleniumCaptureHtml" value="false"/>
<stringAttribute key="CubicTestSeleniumName" value="tests/Pause.aat"/>
<booleanAttribute key="CubicTestSeleniumNamespaceXpath" value="false"/>
<booleanAttribute key="CubicTestSeleniumServerAuto" value="true"/>
<stringAttribute key="CubicTestSeleniumServerHost" value="localhost"/>
<booleanAttribute key="CubicTestSeleniumServerMultiWindow" value="true"/>
<stringAttribute key="CubicTestSeleniumServerPort" value="4444"/>
<booleanAttribute key="CubicTestSeleniumTakeScreenshots" value="false"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CubicExTest"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CubicExTest"/>
</launchConfiguration>
